body {
    background-color: #F7F8FA;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*-------Header--------------*/

.header__nav {
    display: flex;
    align-items: center;
    padding: 20px 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    justify-content: space-between;
    
    color: #6B7A99;
}

.header-right-items {
    display: flex;
    justify-content: flex-start;
}

.nav_burger {
    padding: 6px 6px 0;
    margin-right: 30px;
}

.header__logo {
    margin-right: 39px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;

    color: #4D5E80;
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1px 0 0 0;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.nav__item:nth-child(3) {
    margin-right: 16px;
}

.nav__item:last-child {
    margin-right: 0;
}


.nav-link__text {
    margin: 0 14px 0 0;
    line-height: 2.15;
    transition: 0.2s ease-in;

}

.nav-link__text:hover {
    opacity: 0.8;
}

.nav-link__arrow{
    padding: 0px 9px;
}

.header-left-items {
    display: flex;
    justify-content: flex-end;

}

.search-box {
    display: flex;
    align-items: center;
}

.search-btn {
    padding: 10px 6px 4px 6px;
    box-sizing: border-box;
    display: block;
    margin-right: 20px;
    fill: #C3CAD9;

    transition: 0.2s ease-in;
}

.search-btn:hover {
    cursor: pointer;
    fill: #6B7A99;
}

.search-input {
    background: transparent;
    outline: none;
    border: none;
    width: 89px;
    margin-right: 44px;

    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #4D5E80;
}

.search-input:focus {
    color: #4D5E80;
}

.search-input::placeholder {
    color: #ADB8CC;
    
}

.header-account {
    display: flex;
    align-items: center;
}

.header-account__text {
    margin-right: 35px;
    transition: 0.2s ease-in;
}

.header-bag {
    display: flex;
    align-items: center;
}

.header-bag__text {
    transition: 0.2s ease-in;
}

.header-account__icon, .header-bag__icon {
    margin-right: 26px;
    padding-top: 4px;
    fill: #C3CAD9;
    transition: 0.2s ease-in;
}

.header-account__icon:hover, .header-bag__icon:hover {
   fill: #6B7A99;
}

.header-account__text:hover, .header-bag__text:hover {
    opacity: 0.8;
}